<% content_for :header do %>
    <h1>Listing quizzes</h1>
<% end %>

<table class="table text-left">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Author</th>
      <th>Created at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quizzes.each do |quiz| %>
      <tr>
        <td><%= quiz.title %></td>
        <td><%= quiz.description %></td>
        <td><%= User.find(quiz.author).username %></td>
        <td><%= quiz.created_at %></td>
        <td><%= link_to 'Show', quiz %></td>
        <td><%= link_to 'Edit', edit_quiz_path(quiz) %></td>
        <td><%= link_to 'Destroy', quiz, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @quizzes, :param_name => :page %>

<br>

<%= link_to 'New Quiz', new_quiz_path(@quiz) %> | <%= link_to 'Main View', root_path() %>
