<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @quiz.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @quiz.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @quiz.author %>
</p>

<p>
  <strong>Date:</strong>
  <%= @quiz.created_at %>
</p>



<br>
<h1>Listing questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answer1</th>
      <th>Answer2</th>
      <th>Answer3</th>
      <th>Answer4</th>
      <th>Quiz_id</th>
      <th>Correct_answer</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @quiz.questions.each do |question| %>
      <tr> 
          <td><%= question.question %></td>
          <td><%= question.answer1 %></td>
          <td><%= question.answer2 %></td>
          <td><%= question.answer3 %></td>
          <td><%= question.answer4 %></td>
          <td><%= question.quiz_id %></td>
          <td><%= question.correct_answer %></td>
          <td><%= link_to 'Show', question %></td>
          <td><%= link_to 'Edit', edit_question_path(question) %></td>
          <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }%></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Add question', new_question_path(:quiz_id => @quiz.id)  %> |
<%= link_to 'Edit', edit_quiz_path(@quiz) %> |
<%= link_to 'Back', quizzes_path %>
