<% content_for :header do %>
    <h1>Quizzle Time!</h1>
<% end %>

<%= form_tag(one_player_game_flow_ready_path, :method => "get", id: "quiz-id-form") do %>
    <br>
    <%= label_tag('Join quiz by ID') %>
    <br>
    <%= text_field_tag :quiz_id, nil, placeholder: "Enter ID" %>
    <button type="submit">Find</button>

<% end %>

 <br>
    <%= link_to 'Browse Quizzes', quizzes_browse_path %>
    <br>
<% if user_signed_in? %>
    <%= link_to 'My Quizzes', quizzes_path %>
    <br>
    <%= link_to 'Find friends', search_friends_path %>
    <br>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'js-dashboard-logout-link' %>

<% else %>
    <%= link_to 'Sign up', new_user_registration_path %>
    <br>
    <%= link_to 'Sign in', new_user_session_path, class: 'js-dashboard-login-link' %>
<% end %>
