<div>
  There are <%= pluralize(@users_count, 'result') %> related to "<strong><%= @username %></strong>"
</div>
<table class="table friendship-table friendship-table--center" align="center">
  <thead>
  <tr>
    <th>Username</th>
    <th>Email</th>
  </tr>
  </thead>
  <tbody>
  <% @users_joined_with_friendships.each do |result| %>
  <% search_user_result = SearchUserResult.new(current_user, result) %>
      <tr>
        <th><%= search_user_result.username %></th>
        <td><%= search_user_result.email %></td>
        <td><%= add_friend_button search_user_result %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @users_joined_with_friendships, :param_name => :page %>
