<h2><%= @quiz.title %></h2>
<h3><%= @current_question.question %></h3>


<%= button_to @current_question.answer1, one_player_game_flow_score_path, :class => "button", :method => :get %>
<%= button_to @current_question.answer2, one_player_game_flow_score_path, :class => "button", :method => :get %>
<br>
<%= button_to @current_question.answer3, one_player_game_flow_score_path, :class => "button", :method => :get %>
<%= button_to @current_question.answer4, one_player_game_flow_score_path, :class => "button", :method => :get %>


<!-- <%= session.inspect %> -->

